{% extends 'bases/base.html' %}

{% set page_title = 'Homepage' %}

{% block custom_css %}
    <style>
        .example {
            background-color: aqua;
        }
    </style>
{% endblock %}

{% block custom_js %}
    <script>
        function hello_world(){
            alert("Bet you thought this was going to say 'Hello, world!', didn't you?");
        }
    </script>
{% endblock %}

{% block main_content %}
    <div class="example">
        <p class="error">This is where the main content of the page will go.</p>
        <button id="example_button" onclick="foo();">Click me</button>
        <button id="example_two" onclick="hello_world();">No, click me!</button>
    </div>
{% endblock %}

